/*-- Base styles --*/

html, body {
  max-width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #001e29;
}

a {
  color: #c2562b;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-size: 2.5em;
  margin-bottom: 0px;
  z-index: 3;
}

h2 {
  font-size: 28px;
  font-size: 1.75em;
  line-height: 28px;
  line-height: 1.75em;
  margin: 12px 0px 6px 0px;
}

h3 {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 20px;
  line-height: 1.25em;
  margin: 6px 0px 0px 0px;
}

h4 {
  font-size: 12px;
  font-size: .75em;
  line-height: 20px;
  line-height: 1.25em;
  padding: 0px;
  margin: 0px;
  z-index: 3;
}


header, main, footer, section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}

img {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
  font-size: 1.25em;
  line-height: 24px;
  line-height: 1.5em;
  margin: 0px 0px 9px 0px;
  padding: 0px;
}

ul, li {
  font-size: 16px;
  font-size: 1em;
  line-height: 28px;
  line-height: 1.75em;
  font-weight: bold;
  list-style-type: none;
  margin: 4px;
  margin: .5em;
  padding: 0px;
  text-align: left;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffba1d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

/*-- Navigation --*/

.content {
  width: 100%;
}

label {
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

.logo img{
  float: left;
  width: 50px;
  width: 3.125em;
  margin: 20px;
  margin: 1.25em;
}

.menu {
  margin: 0 20px 0 0;
  font-size: 1.25em;
  font-size: 20px;
}  

.menu a {
  clear: right;
  text-decoration: none;
  color: #001e29;
  margin: 0 10px;
  line-height: 70px;
}

#myNav {
  width: 100%;
  background: white no-repeat center top;
  border-bottom: 3px solid #96e8da;
  z-index: 9999;
  max-width: 1200px;
}

.nav {
  text-align: right;
  height: 60px;
  line-height: 70px;
  float: right;
} 

nav, section {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  
.sticky + .content {
  padding-top: 102px;
}

#toggle {
  display: none;
}

/*--HEADER--*/

#greeting {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#greeting h2 {
  z-index: 3;
}

/*--PORTFOLIO--*/

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  margin: 16px;
  margin: 1em;
  padding: 10px;
  padding: .625em;
}

.p-left {
  align-items: center;
  padding: 10px;
  padding: .625em;
}

.p-right {
  padding: 0px 0px 30px 0px;
  padding: 0em 0em 1.875em 0px;
 }

/*--ABOUT--*/

#about {
  background-color: #c2562b;
  color: white;
}

#focus {
  width: 90%;
  padding: 15px;
}

#focus p{
  text-align: left;
}

#languages-tools {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.rectangles {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px 0px 20px 0px;
  padding: 0em 0em 1.25em 0em;
  width: 90%;
}

/*--CONTACT--*/
.contact {
  color: white;
  display: flex;
}

.fa-linkedin, .fa-github-square, .fa-envelope {
  font-size: 50px;
  font-size: 3.125em;
  margin: 10px;
  margin: .625em;
  padding: 0;
  color: #96e8da;
}

.navy {
  background-color:#001e29;
}

/*--FOOTER--*/

footer {
  background-color: #001e29;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*----------media query max 500 starts----------*/
@media screen and (max-width:500px) {

/*----------NAV max 500 starts----------*/

label {
  display: block;
  cursor: pointer;
}

.menu {
  display: none;
  text-align: center;
  width: 100%;
  background-color: #ffa110;
}

.menu a {
  display: block;
  margin: 0;
}

#toggle:checked + .menu {
  display: block;
}

}/*--media query 500 ends--*/


/*----------media query min 501 starts----------*/
@media screen and (min-width: 501px) {

/*-- min 501 base styles --*/

h1 {
  font-size: 48px;
  font-size: 3em;
}

/*-- min 501 portfolio --*/

.box-shadow {
  margin: 15px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

ul, li {
  font-size: 18px;
  font-size: 1.125em;
}

/*-- min 501 contact --*/
.contact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#contact {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 250px;
}

.rectangles h3 {
  margin: 10px;
  margin: .625em;
}

.fa-linkedin, .fa-github-square, .fa-envelope {
  font-size: 50px;
  font-size: 3.125em;
  margin: 5px;
  margin: .3125em;
}

/*-- min 501 footer --*/

footer {
  justify-content: center;
  height: 30px;
}

.half-width{
  width: 40%;
}

}/*-- media query min 501 tablet ends --*/


/*---------- media query min 768 starts ----------*/
@media screen and (min-width: 768px) {

/*-- min 768 header --*/
#greeting {
    margin: 0px;
    padding: 0px;
}

#greeting h1  {
    margin: 0px;
    margin: 0em;
    padding: 0px;
}

#greeting h2 {
    margin: 0px;
    margin: 0em;
    padding: 0px;
}

header#home .hero {
  height: 200px;
  height: 12.5em;
}

section.hero {
  width: 100%;
}

/*-- min 768 portfolio --*/
.p-content {
  display: flex;
  flex-flow: row nowrap;
}

.p-left {
  width: 40%;
}

.p-right {
  width: 60%;
}

.row-reverse {
  display: flex;
  flex-flow:row-reverse nowrap;
}
  
.twocolumn {
  flex-flow: column nowrap;
  margin: 15px;
  margin: .038em;
  width: 50%;
}

ul, li {
  text-align: left;
  line-height: 26.4px;
  line-height: 1.65em;
  font-weight: bold;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/*-- min 768 about --*/

#focus {
  padding: 24px 0px 0px 0px;
}

#languages-tools {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 95%;
}

.rectangles {
  margin: 16px;
  margin: 1em;
  width: 30%;
}

.rectangles h2 {
  line-height: 16px;
  line-height: 1em;
  margin-bottom: 10px;
}

/*--min 768 contact --*/
.contact  {
  height: 200px;
  height: 12.5em;
}

footer {
  display: flex;
  flex-flow: row nowrap;
}

}/*--media query min 769 ends--*/

/*---------- media query min 1200 starts ----------*/

@media screen and (min-width: 1200px) {

/*-- min 1200 portfolio --*/

.box-shadow {
  width: 95%;
}

.p-content {
  display: flex;
  flex-flow: row nowrap;
}

.fa-linkedin, .fa-github-square, .fa-envelope {
  font-size: 56px;
  font-size: 3.5em;
  margin: 10px;
}

/*-- min 1200 about and contact --*/
  .rectangles {
    width: 17%;
  }

}/*--media query min 1200 ends--*/